ul li {
  list-style: none;
  float: left;
  padding: 15px;
}

nav {
  width: 100%;
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-align: right;
  padding: 10px;
  background-color:#FFDEAD;
  color: rgb(204, 32, 32);
}



.formLogin {
  position: absolute;
  font-family: sans-serif;
  z-index: 1;
  background: #ffffff;
  max-width: 400px;
  margin: auto;
  padding-top: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0
  rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 5% 0 0;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #FFDEAD;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

#errorformLogin {
  position: absolute;
  margin: auto;
  width: 60%;
  left: 72%;
  top: 64%;
  transform: translate(-50%, 20%);
}



